<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">Main page</button>
    </div>

    <div class="info">
        <strong>Author post</strong>
        <small>12.09.2019</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, tenetur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, tenetur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, tenetur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, tenetur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, tenetur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, tenetur.</p>
    </div>
</div>
